logfile
*.swp
*.csv
*.zip
*.pkl
*.dot
*.gv
*.gv.pdf
*.arff
*001
*.meta
*.index
checkpoint
hello_keras.py
src/tmp
EEL891/
datasets/cicids/
datasets/nslkdd/
datasets/bezerra/
datasets/cardiff/
datasets/unsw-nb15/
datasets/ctu-13/
datasets/Dataset-IoT/
diamonds.py
logs/
src/plot_functions/*.png
