[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
matplotlib = "*"
numpy = "*"
mglearn = "*"
tflearn = "*"
scipy = "*"
ipython = "*"
sklearn = "*"
keras = "*"
wget = "*"
tensorflow = "*"
seaborn = "*"
jupyter = "*"
jupyter-notebooks = "*"
imblearn = "*"

[requires]
python_version = "3.6"
